[Unit]
Description=Paper Display
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/go/github.com/gitu/paper-display/init.sh > /home/pi/paper.log 2>&1

[Install]
WantedBy=multi-user.target